/*
 * FilePond Custom Styles
 */

.filepond--drop-label {
	color: #4c4e53;
}

.filepond--label-action {
	text-decoration-color: #babdc0;
}

.filepond--panel-root {
	background-color: #edf0f4;
}

.load-image-baru{
	background-color: red;
	text-decoration-color: royalblue;
}

.load-image-baru--drop-label {
	color: #4c4e53;
}
/**
 * Page Styles
 */
html {
	padding: 20vh 0 0;
}

.filepond--root {
	width:170px;
	margin: 0 auto;
}
